//
//** Global Config
//

//== Base Mixins and SASS Function
@import 'base/functions';
@import 'base/mixins';

//== Layout Breakpoints
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$layout-breakpoints: (
  // Small screen / phone
  sm: 576px,

  // Medium screen / tablet
  md: 768px,

  // Large screen / desktop
  lg: 1024px,

  // Extra large screen / wide desktop
  xl: 1200px,

  // Extra large screen / wide desktop
  xxl: 1400px,

  // Super Extra large screen / wide desktop
  xxxl: 1600px
)!default;

//== Modal Z-index
$modal-zindex: 1488 !default;

//== General dropdown Z-index
$dropdown-zindex: 101 !default;

//== Transition
$transition: (
  general: all 0.3s,
  link: (
          hover: color .4s ease
  )
)!default;

//== UI State Colors
$accent-color: #F69B11;
$accent-color-h: #DA8300;

$secondary-color: #778A99;
$secondary-color-h: #5A6A77;

$tertiary-color: #D0DFE8;
$tertiary-color-h: #BFCCD4;

$confirm-color: #42AF73;
$confirm-color-h: #2F8F5B;

$warning-color: #ED0E2F;
$warning-color-h: #C10A25;

$info-color: #C5874D;
$info-color-h: #A67140;

$background-color: #F0F6F6;
$background-color-h: #DEE9E9;

$gradient: 113.37deg, #FFA620 0%, #FF5968 98.94%;

$primary-color: #241C23;

//== The body element font settings
$root-font: (
  size: (
      desktop: 14px,
      tablet: 12px,
      mobile: 12px
  ),
  weight: 400,
  color: (
      light: $secondary-color,
      dark: $primary-color
  )
)!default;

//== The header element font settings
$heading-font: (
  size: (
    h1: 24px,
    h2: 20px,
    h3: 18px,
    h4: 16px
  ),
  weight: 500,
  color: (
      light: $secondary-color,
      dark: $primary-color
  )
);

//== Font families
$font-families: (
  regular: 'Lato',
  heading: 'Ubuntu'
)!default;

//== Shadow
$shadow-lite: 0px 5px 10px rgba(210, 226, 226, 0.56);
$shadow-normal: 0px 8px 20px rgba(204, 222, 222, 0.68);
$shadow-hard: 0px 29px 67px rgba(206, 218, 218, 0.54), 0px 5px 9px rgba(206, 218, 218, 0.34);
